* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html {
    font-family: 'Inter', sans-serif;
    /* font-size: 16px; */
    /* line-height: 1.6; */
    /* color: #333; */
    /* background-color: #f4f4f4; */
    overflow: hidden;
}

.webgl {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
}

nav {
    color: white;
    z-index: 2;
    position: relative;
    padding: 1rem 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav a {
    color: white;
    text-decoration: none;
    font-size: 1.5rem;
    font-weight: bold;
    margin: 0 1rem;
    transition: color 0.3s ease;
}

nav ul {
    display: flex;
    list-style: none;
    gap: 4rem;
}

.title {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    text-align: center;
    color: white;
}

.subtitle {
    position: absolute;
    top: 75%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    text-align: center;
    color: white;
    font-weight: 300;
}